dash==1.14.0
dash-html-components==1.0.3
dash-core-components==1.10.2
dash-bootstrap-components==0.10.3
dash-renderer==1.6.0
numpy==1.19.1
pandas==1.1.0
plotly==4.9.0
flask==1.1.2
gunicorn==20.0.4
scipy==1.5.2
pillow>=6.2.2
boto3==1.14.31
requests==2.24.0
python-dotenv==0.14.0
flask_session==0.3.2
colour-science==0.3.15
colour-checker-detection==0.1.1
json-logging-py
colormath==3.0.0
